@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

#pledgestep2 {
    label {
      font-size: .8em;
    }

    div {
        padding: 0;
    }

    .cvv {
        padding-right: 10px;
    }

    .exp {
        padding-left: 10px;
    }

    .form-buttons {
        text-align: center;

        #powered{
            width: 213px;
            display: block;
            margin: 10px auto;
        }
    }

    p {
        margin-top: 40px;
        color: $grey;
        line-height: 1.5em;
    }
}

#success-pledge {
  width: 60%;
  margin: 0 auto;

    p {
        color: $green;
        font-size: 3rem;

        text-align: left;
        font-family: $conduit-light;
        margin-top: 3rem;
    }
}
@media (max-width: $screen-xs-min) {
  #success-pledge p {
    font-size: 2rem;
  }
}

#credit-card-details {
    margin-top: 20px;
}

#credit-cards {
    img {
        margin-top: 10px;
        width: 40px;
    }
}

#payment-header {
    div {
        padding: 0;
        margin-bottom: 20px;
    }

    #secure-payment {
        border-right: solid 1px $grey;
        padding: 10px 0;

        img {
            padding-right: 20px;
            width: 100%;
        }
    }

    #pledge-info {
        padding-top: 10px;
        padding-left: 20px;
        color: $grey;
        font-family: $conduit-light;

        b {
            font-family: $conduit-bold;
        }

        #hourly-amount,
        #goal {
            display: block;
        }

        #hourly-amount {
            font-size: 1.5em;
        }

        #goal {
            font-size: 1.2em;
            position: relative;
            top: -5px;
        }
    }

}
