@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

ul.sponsors {
    padding: 0;

    .sponsor-details {
        border-bottom: 1px solid $lighter-grey;

        .label {
            color: $lighter-grey;
            font-family: $conduit-medium;
            font-size: initial;
        }
    }

    li.children-line {
        .label {
            color: $lighter-grey;
            font-family: $conduit-medium;
            font-size: .75em;
        }

        .green {
            color: $green;
            font-weight: bold;
        }
    }

    a,
    .btn-link {
        color: $green;
        font-family: $conduit-bold;
        font-size: 1em;
        margin-left: 10px;

        &:hover {
            text-decoration: none;
            color: $grey;
        }
    }

    .expand{
        font-size: 2em;
        font-weight: bold;
    }

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        padding: 0;
    }
}
