@import '../../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.edit-team-profile {
    min-height: 400px;

    
    section {
        margin: 20px 0;
        .checkbox {padding-left: 20px;}
        p.action-description {
            color: black;
            font-size: .7em;
            margin: 10px 0;
            text-transform: uppercase;
            font-family: $conduit-light;
            font-weight: initial;
        }

        p.goal-description {
            font-size: .7em;
        }

        p.action-margin {
            border-top: 1px solid $grey;
            margin: 0 0 0 15px;
            padding-top: 3px;
        }

        label.select-label {
            color: $light-grey;
            font-size: 1.2em;
            font-family: $conduit-light;
            font-weight: initial;
            padding-left: 15px;
        }
        form {
            input,
            label,
            textarea {
                color: $grey;
            }

            input,
            textarea {
                border-bottom: 1px solid $grey;
            }
        }
    }


}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-sm-min) {
    .edit-team-profile {
        .share-efforts{
            position: absolute;
            bottom: 100px;
            right: 0;
            width: 180px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
