@import '../../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.edit-team-profile {
    min-height: 400px;

    section {
        margin: 20px 0;

        p.action-description {
            color: $light-grey;
            font-size: .8em;
            margin: 10px 0;
        }

        p.action-margin {
            padding-left: 30px;
            margin: 0;
        }

        label.select-label {
            color: $light-grey;
            font-size: 1.2em;
            font-family: $conduit-light;
            font-weight: initial;
            padding-left: 15px;
        }
    }

    input#goal {
        color: $grey;
        outline: none;
        border: none;
        border-bottom: 1px solid $light-grey;
        height: 40px;
        font-family: $conduit-medium;
        font-size: 1.9em;
        line-height: 1em;
        width: 200px;

        &:focus,
        &:active {
            border-bottom: 1px solid $green;
        }
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: $screen-sm-min) {
    .edit-team-profile {
        .share-efforts{
            position: absolute;
            bottom: 100px;
            right: 0;
            width: 180px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
