@import "../../common/styles/variables.scss";

@media (max-width: $screen-xs-max) {
.sponsorContainer{
    button {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, .5);
        
    }

}
}
