@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.project {
    color: $grey;
    line-height: 2.6em;

    .project-details {
        border-bottom: 1px solid $lighter-grey;

        .project-name {
            color: $lighter-grey;
            font-family: $conduit-medium;

        }
    }

    a,
    .btn-link {
        color: $green;
        font-family: $conduit-bold;
        font-size: 1em;
        margin-left: 10px;

        &:hover {
            text-decoration: none;
            color: $grey;
        }
    }

    .expand{
        font-size: 2em;
        font-weight: bold;
    }
}
