@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.content-header{
    hr {
        border-color: $lighter-grey;
        margin: 5px 0;
        width: 100%;
    }

    h1,
    .btn-link {
        font-family: $conduit-bold;
    }

    h1 {
        display: inline-block;
        margin: 0;
        font-size: 2.3em;
    }

    .btn-link {
        color: $grey;
        font-size: 1.4em;
        line-height: 2em;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    p {
        color: $light-grey;
    }

    p.current-goal{
        font-family: $conduit-light;
        text-align: right;
        margin-bottom: 0;

        a {
            font-size: .9em;
            text-decoration: none;
            color: $light-grey;
            text-transform: uppercase;
        }

        span.goal-title {
            font-size: 1.5em;
            color: $grey;
        }

        span.goal-number {
            color: $green;
            font-size: 2em;
            letter-spacing: -3px;
        }
    }
}
