@import "../../common/styles/variables.scss";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.btn {
    border-radius: 0;
    color: $white;
    text-transform: uppercase;
    font-family: $conduit-light;
}

.btn-default {
    background-color: transparent;
    border: solid 1px $white;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $white;
        background-color: $green;
        border: solid 1px $green;
        outline: none;
    }
}

.btn-green-white {
    background-color: $green;
    border: solid 1px $green;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $green;
        background-color: transparent;
        border: solid 1px $green;
        outline: none;
    }
}

.btn-edit {
    background-color: $green;
    border: solid 1px $green;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $grey;
        background-color: $green;
        border: solid 1px $green;
        outline: none;
        box-shadow: none;
    }
}

.btn-link {
    color: $green;
    padding: 0;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $grey;
        text-decoration: none;
        outline: none;
    }
}

.btn-green-bar-link {
    color: $white;
    padding: 0;
    background: none;
    line-height: 30px;
    font-family: $conduit-bold;
    border: 0;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $white;
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
}

.btn-switch-form {
    background: none;
    padding: 0;
    text-transform: none;
    border: 0;
    margin-top: -2px;
    text-decoration: underline;
    color: $lighter-grey;

    &:hover,
    &:active,
    &:active:focus {
        color: $green;
        text-decoration: underline;
        outline: none;
    }
    &:focus {
        color: $lighter-grey;
        text-decoration: underline;
        outline: none;
    }
}

.btn-transparent-green {
    background-color: transparent;
    border: solid 1px $green;
    color: $green;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        color: $white;
        background-color: $green;
        border: solid 1px $green;
        outline: none;
    }
}

/* spinner */
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.15s, width 0.15s;
  -moz-transition: opacity 0.15s, width 0.15s;
  -o-transition: opacity 0.15s, width 0.15s;
  transition: opacity 0.15s, width 0.15s;
}

.has-spinner:disabled {
  cursor:progress;
}

.has-spinner:disabled .spinner {
  opacity: 1;
  width: auto;
  margin-right: 12px;
}

.has-spinner.btn-mini:disabled .spinner {
    width: 10px;
}

.has-spinner.btn-small:disabled .spinner {
    width: 13px;
}

.has-spinner.btn:disabled .spinner {
    width: 25px;
}

.has-spinner.btn-large:disabled .spinner {
    width: 19px;
}
