@import "../../common/styles/variables.scss";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.btn {
    border-radius: 0;
    color: $white;
    text-transform: uppercase;
    font-family: $conduit-light;
}

.btn-default {
    background-color: transparent;
    border: solid 1px $white;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $green;
        border: solid 1px $green;
        outline: 0;
    }
}


.btn-success {
    background-color: $green;
    border: solid 1px $green;

    &:hover,
    &:active,
    &:focus {
        color: $green;
        background-color: transparent;
        border: solid 1px $green;
        outline: 0;
    }
}

.btn-pledge {
    background-color: transparent;
    border: solid 1px $green;
    color: $green;
    font-size: .8em!important;

    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $green;
        border: solid 1px $green;
        outline: 0;
    }
}
