@import '../../common/styles/variables.scss';

.cancelPledgeContainer {
    min-height: 90vh;

    p {
        color: $green;
    }

    form {
        background: $black;
    }

    ul {
        li {
            color: $light-grey;
        }
    }
}
