@import '../../common/styles/variables.scss';

.form-container {
    padding-bottom: 60px;
    text-transform: none;

    h2 {
        text-transform: uppercase;
        font-family: $conduit-light;
        color: $green;
        font-size: 1.8em;
    }

    p {
        color: $white;
        font-size: 0.85em;
        line-height: initial;
        margin-bottom: 30px;
    }

    p.form-description {
        font-family: $conduit-light;
        font-size: 1.2em;
    }

    form {

        input,
        label {
            color: $white;
        }

        input{
            display: block;
            width: 100%;
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid $light-grey;

            &:focus,
            &:active {
                border-bottom: 1px solid $green;
            }
        }

        textarea {
            display: block;
            width: 100%;
            background: transparent;
            outline: none;
            border: 1px solid $light-grey;

            &:focus,
            &:active {
                border: 1px solid $green;
            }
        }

        input {
            height: 40px;
            font-family: $conduit-medium;
            font-size: 1.9em;
            line-height: 1em;
        }

        .input-group-addon {
            position: relative;
            top: -12px;
            background: transparent;
            border: none;
            padding: 0;
            font-family: $conduit-medium;
            font-size: 1.9em;
        }

        label {
            font-family: $conduit-light;
            font-size: 0.7em;
            text-transform: uppercase;
        }

        button {
            margin-top: 30px;
            font-family: $conduit-bold;
            font-size: 1.6em;
        }
    }
}
