@import '../../common/styles/variables.scss';

.cover {
    text-align: center;
    background-size: cover;
    background-color: $lighter-grey;
    background-position: center;

    .btn-default {
        margin: 60px 0;
        font-size: 1.85em;
    }

    .cover-container {
        padding-top: 70px;
        position: relative;
        // overflow-x: hidden;
    }

    .cover-content {
        padding-top: 100px;
    }
}
