@import '../../common/styles/variables.scss';

.cover {
    text-align: center;
    background-size: cover;

    .btn-default {
        margin: 60px 0;
        font-size: 1.85em;
    }

    .cover-content {
        position: relative;
        padding-top: 160px;
        overflow-x: hidden;
    }
}
