@import '../../common/styles/variables.scss';

.graph-container {
    position: relative;

    #previous,
    #next {
        position: absolute;
        top: 40%;
        width: 35px;
        height: 50px;
        font-size: 50px;
        line-height: 50px;
    }

    #previous{
        left: 0;
    }

    #next {
        right: 0;
    }

    .scroll-button__visible{
        display: inline-block;
    }

    .scroll-button__hidden{
        display: none;
    }

    #graph {
        overflow: scroll;
        margin: 0 50px;

        svg {
            position: relative;
            left: 0;
            display: block;
            margin: auto;
        }
    }

    .legends {
        color: $grey;
        font-family: $conduit-light;
        font-size: .8em;

        .legend {
            margin: 5px 0 5px 50px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }

        .circle {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            margin-right: 10px;
        }

        .legend-new .circle {
            background: $green;
        }

        .legend-total .circle {
            background: $dark-grey;
        }
    }
}
