@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.team-profile-footer {
    background-color: $black-high-opacity;
    padding: 60px 0;

    .team {
        color: $grey;
        margin: auto;

        .team-header {
            font-size: 1.6em;
            text-transform: uppercase;

            span {
                display: block;
                float: left;
            }

            .team-title {
                font-family: $conduit-light;
            }

            .team-share {
                font-family: $conduit-bold;
            }

            a:first-child {
                padding-left: 0;
            }

            a:last-child {
                padding-right: 0;
            }

            a {
                color: $grey;
                padding: 0 10px;

                &:hover {
                    color: $green;
                }
            }
        }

        .team-share {
            color: $green;
        }
    }
}


.team-profile-footer {
    .team {
        .team-header, .team-share {
            span {
                display: inline;
                margin: 0 10px;
            }
        }
    }
}

