@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.cover-profile {
    min-height: 500px;

    .team-tagline{
        min-height: 50px;
        background: $black-low-opacity;

        p {
            text-transform: none;
            font-family: $conduit-light;
            font-weight: lighter;
            color: $white;
            font-size: 1.6em;
            line-height: 40px;
            margin: 0;
        }
    }
}

.teamprofile {
    #team-logo {
        max-height: 100px;
    }

    .team-slogan {
        margin-top: 25px;
        font-family: $conduit-light;
        font-size: 2.4em;
        color: $black;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    h1 {
        color: $light-grey;
        font-family: $arial;
        font-weight: bold;
        font-size: 1.45em;
    }
}

.team-block {
    background-color: $black-high-opacity;
    padding: 60px 0;

    .team {
        color: $grey;
        margin: auto;

        .team-header {
            // font-family: $conduit_light;
            font-size: 1.6em;
            text-transform: uppercase;

            span {
                display: block;
                float: left;
            }

            .team-title {
                font-family: $conduit-light;
            }

            .team-share {
                font-family: $conduit-bold;
            }

            a:first-child {
                padding-left: 0;
            }

            a:last-child {
                padding-right: 0;
            }

            a {
                color: $grey;
                padding: 0 10px;

                &:hover {
                    color: $green;
                }
            }
        }

        .team-share {
            color: $green;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .team-block {
        .team {
            .team-header {
                span {
                    display: inline;
                    margin: 0 10px;
                }
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .team-block {
        .team {
            width: 80%;

            .team-header {
                padding: 0 100px;
            }
        }
    }
}
