@import '../../common/styles/variables.scss';

body {
    font-size: 16px;
}

// .page-content{
//     padding-top: 60px;
// }

.cover {
    text-align: center;

    h2 {
        color: $white;
        font-size: 2.5em;
        text-align: center;
        margin-top: 110px;
    }

    .btn-default {
        margin-top: 60px;
        font-size: 1.85em;
    }
}

.tagline {
    text-transform: uppercase;
}

.main-content {
    padding-top: 130px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    // .page-content{
    //     padding-top: 70px;
    // }
}
