@import '../../common/styles/variables.scss';

body {
    font-size: 16px;
}

.tagline {
    text-transform: uppercase;
}

.main-content {
    padding-top: 60px;
}

.no-cover {
    padding-top: 130px!important;
}
