@import './variables.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    font-family: $arial;
}

#root {
    height: 100%;
}

#page {
    height: 100%;
}

h1 {
    font-family: $conduit-bold;
    color: $green;
    font-size: 2.8em;
}

h2 {
    font-family: $conduit-light;
    color: $light-grey;
}

p {
    color: $grey;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: none;
}

.tagline {
    font-family: $conduit-medium;
}

.main-content {
    padding-top: 60px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .no-cover {
        padding-top: 130px;
    }
}


button:active,
button:focus,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
