@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.cover-team-profile,
.cover-volunteer-profile {
    min-height: 500px;

    .team-tagline{
        min-height: 50px;
        background: $black-medium-opacity;

        p {
            text-transform: none;
            font-family: $conduit-light;
            font-weight: lighter;
            color: $white;
            font-size: 2rem;
            line-height: 5rem;
            margin: 0;
        }
    }
}
