@import '../../common/styles/variables.scss';

.m-signature-pad {
  background-color: $lighter-grey;
  position: relative;
  height: 150px;
}

.m-signature-pad--body {
    height: 100%;
    canvas {
        height: 100%;
        width: 100%;
    }
}

.m-signature-pad--footer .button.clear {
    position: absolute;
    right: 0;
    top: 30px;
}
