/* Bootstrap variables */
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

// Colors
$white: rgb(235, 235, 235); // #ffffff
$green: rgb(189, 212, 66); // #bdd442
$grey: rgb(93, 93, 93); // #5d5d5d
// $black: rgb(3, 3, 2); // #030302
$black: rgb(0, 0, 0); // #ffffff
