/* Bootstrap variables */
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

// Colors
$white: rgb(235, 235, 235); // #ffffff
$green: rgb(189, 212, 66); // #bdd442
$light-grey: rgb(145, 145, 145); // #919191
$grey: rgb(93, 93, 93); // #5d5d5d
$black: rgb(0, 0, 0); // #ffffff
