@import '../../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

#volStats {
  padding: 0px;
  
  .stats {
    padding: 0px;
   
    .stat-progress-container{
      margin: 2px;
    }
  }
}
