@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

#invite-team-members-form {
    label {
        color: $grey;
        font-size: 1em;
    }

    p.or-divider {
        color: $green;
        font-family: $conduit-light;
        font-size: 1.4em;
    }

    a.share:first-child {
        padding-left: 0;
    }

    a.share:last-child {
        padding-right: 20px;
    }

    a.share {
        color: $white;
        padding: 0 10px;

        img{
            margin-bottom: 15px;
        }
    }

    .social {
        display: block;
    }
}
