@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

$user-progress-width: 240px;
$margin-user-image: 17px;
$user-progress-border-width: 3px;
$user-image-width: $user-progress-width - 2 * $margin-user-image + $user-progress-border-width;

.user-progress-container {
    width: 500px;
    padding-bottom: 5em;
    text-align: center;

    .user-hours {
        position: relative;
        right: $user-progress-width / 2;
        top: $margin-user-image;
        font-size: 0.8em;
        display: inline-block;
        transition: opacity 500ms;

        p {
            text-align: center;
            margin: 0;
        }
    }

    .user-hours__current {
        font-size: 2em;
        color: $green;
    }
}

.user-progress {
    width: $user-progress-width;
    height: $user-progress-width;
    border-radius: $user-progress-width;
    border: solid $user-progress-border-width $light-grey;
    margin: auto;

    .user-image {
        width: $user-image-width;
        height: $user-image-width;
        border-radius: $user-image-width;
        background-size: cover;
        background-position: center center;
        margin: (-$user-progress-width + $margin-user-image) 0 2em $margin-user-image;
    }

    .user-name-and-location {
        text-align: center;

        span {
            display: block;
        }
    }

    .user-name {
        font-weight: bold;
    }

    .rc-progress-circle-path {
        stroke: $green;
    }
    .rc-progress-circle-trail {
        stroke: none;
    }
}
