@import '../../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.content-header{
    hr {
        border-color: $lighter-grey;
        margin: 5px 0;
        width: 100%;
    }

    h1,
    a {
        font-family: $conduit-bold;
    }

    h1 {
        display: inline-block;
        margin: 0;
        font-size: 2.3em;
    }

    a {
        color: $grey;
        font-size: 1.4em;
        line-height: 2em;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    p {
        color: $light-grey;
    }
}
