@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


li.children-line {
    list-style: none;
    color: $grey;
    line-height: 2.6em;
    border-bottom: 1px solid $lighter-grey;
}
