@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.pledge {
    background: $black-high-opacity;
    position: absolute;
    top: 80px;
    height: 300px;
    width: 200px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.pledge__closed {
    right: -200px;
}

.pledge__open{
    right: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}
