@import "../../common/styles/variables.scss";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $black-high-opacity;
    color: $white;
    z-index: 999;
    overflow: scroll;

    .close {
        padding: 20px;
        opacity: 1;

        i {
            color: $white;
            font-size: 3em;
            text-shadow: none;
        }

        &:hover,
        &:active,
        &:focus {
            outline: 0;

            i {
                color: $green;
            }
        }
    }

}
