@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

header {
    min-height: 70px;
    background: rgba($black, 0.49);
    padding: 10px;
    position: absolute;
    width: 100%;

    #logo {
        float: left;
    }

    nav {
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;

        ul {
            li {
                list-style: none;
                float: left;

                a {
                    color: $white;
                    font-size: 18px;
                    margin: 0 15px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: $green;
                        background-color: transparent!important;
                    }
                }

                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }

                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
            }

            li.social {
                a {
                    margin: 0;
                    padding: 15px 10px;
                }
            }
        }
    }

    .login-container{
        line-height: 45px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }
