@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

header {
    background: rgba($black, 0.49);
    padding: 10px;
    position: absolute;
    width: 100%;

    #logo {
        float: left;
        max-height: 35px;
    }

    #toggle-menu {
        background: transparent;
        border: none;
        color: $grey;
        line-height: 35px;
        font-size: 1.5em;

        &:active, &:focus {
            border: none;
            outline: 0;
        }
    }
}

// Mobile menu
#slide-menu {
    display: none;
    background: $green;
    width: 70%;
    max-width: 300px;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

nav {

    ul.nav {
        margin: 0;

        > li {
            list-style: none;
            color: $white;
            font-size: 1.1em;
            text-transform: uppercase;
            padding-left: 20px;
            float: none;

            > a {
                color: $white;
                font-size: 1.1em;
                margin: 0 15px;
                text-decoration: none;
                text-transform: uppercase;
                padding-left: 0;

                &:hover {
                    color: $green;
                    background-color: transparent!important;
                }
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            &:last-child {
                a {
                    margin-right: 0;
                }
            }

            > span {
                margin: 0 15px;
            }

            &.login-container {
                text-align: center;
                margin: 10px 0;
                padding-left: 0;
            }

            ul.sub-element{
                padding: 0;
                margin-left: 20px;

                li {
                    list-style: none;
                    margin: 5px 0;
                    line-height: 13px;

                    a {
                        color: $grey;
                        font-family: inherit;
                        font-size: .75em;
                        text-transform: none;

                        &:hover {
                            color: $white;
                            text-decoration: none;
                        }
                    }

                    hr {
                        margin: 0;
                        border-color: $grey;
                        max-width: 150px;
                    }
                }
            }
        }

        li.social {
            float: left;
            padding-left: 0;

            &:first-child {
                padding-left: 20px;
            }

            a {
                margin: 0;
                 padding: 15px 10px;
            }
        }
    }
}

.login-container{
    line-height: 45px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    #logo {
        margin: 5px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    #logo {
        max-height: initial !important;
        margin: 0;
    }

    nav {
        ul.nav {
            margin-left: 40px;
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }
