@import "../../common/styles/variables.scss";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.stats-block {
    margin: 20px 0;
    padding: 0;

    .stat-progress-container {
        margin: 20px auto;
        padding: 0;
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .stats-block {
        .stat-progress-container {
            margin: 20px 7px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
