@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.team-profile {
    #team-logo {
        max-height: 100px;
    }

    h1 {
        color: $light-grey;
        font-family: $arial;
        font-weight: bold;
        font-size: 1.45em;

        span#team-link {
            padding: 0 10px;
            a {
                color: $green;
                font-family: $conduit-light;
                text-transform: uppercase;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    color: $light-grey;
                }
            }
        }
    }

    .team-slogan {
        margin-top: 25px;
        font-family: $conduit-light;
        font-size: 2.4em;
        color: $black;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    p {
        font-size: 1.15em;
        white-space: pre-wrap;
    }
}
