@import '../../common/styles/variables.scss';

.admin-layout {
    padding-top: 70px;
    background: $grey;

    .admin-content {
        background: $white;
        padding: 20px;
        min-height: 500px;
    }
}

@media (min-width: $screen-md-min) {
    .admin-layout {
        min-height: 100vh;
        padding-bottom: 207px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .admin-layout {
        .admin-content {
            padding: 50px 30px;
        }
    }
}
