@import '../../common/styles/variables.scss';

.remember-checkbox {
    input {
        width: 20px!important;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .remember-checkbox input {
        display: inline-block!important;
        margin: 0;
    }

    .remember-label {
        line-height: 40px;
        height: 40px;
        vertical-align: top;
        display: inline-block;
        margin-left: 10px;
    }
}
