@import '../../common/styles/variables.scss';

.remember-checkbox {
    input {
        position: initial;
        display: inline-block;
    }

    label {
      display: block;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .remember-checkbox label {
        display: block;
        position: relative;
        top: -43px;
        left: 30px;
    }
}
