@import '../../common/styles/variables.scss';

.home_cover {
    min-height: 860px;
    text-align: center;

    h2 {
        color: $white;
        font-size: 40px;
        text-align: center;
        margin-top: 110px;
    }

    .btn-default {
        margin-top: 60px;
        font-size: 30px;
    }
}
