<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>You + Us = A World of Change | Raiserve</title>
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
        <meta property="og:image" content="https://raiserve.org/assets/images/raiserve_logo.png" />
        <meta http-equiv="cleartype" content="on">
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    </head>

    <body>
        <div id="root"></div>
        <script src="/bundle.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
        <script type="text/javascript">
            Stripe.setPublishableKey('<%= STRIPE_PUBLISHABLE_KEY %>');
            filepicker.setKey('<%= FILESTACK_KEY %>');
        </script>
    </body>
</html>
