@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.cover-signup {
    text-align: left;
    padding: 75px 0;

    .cover-content {
        height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;

        .logo {
            float: left;
            display: inline-block;
            background: rgba($white, 0.7);
            margin-right: 35px;
            height: 100%;

            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            img {
                width: 210px;
            }
        }

        .team-tagline {
            h2,
            p {
                color: $white;
            }

            h2{
                font-size: 3em;
                margin-top: 0;
            }
        }
    }

}

.teamprofile {
    #team-logo {
        max-height: 100px;
    }

    h2 {
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    h3 {
        color: $light-grey;
    }
}

.team-block {
    background-color: rgba($black, 0.85);
    padding: 60px 0;

    .team {
        color: $grey;
        margin: auto;

        .team-header {
            // font-family: $conduit_light;
            font-size: 1.6em;
            text-transform: uppercase;

            span {
                display: block;
            }

            .team-title {
                font-family: $conduit-light;
            }

            .team-share {
                font-family: $conduit-bold;
            }

            a:first-child {
                padding-left: 0;
            }

            a:last-child {
                padding-right: 0;
            }

            a {
                color: $grey;
                padding: 0 10px;

                &:hover {
                    color: $green;
                }
            }
        }

        .team-share {
            color: $green;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .team-block {
        .team {
            .team-header {
                span {
                    display: inline;
                    margin: 0 10px;
                }
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .team-block {
        .team {
            width: 80%;

            .team-header {
                padding: 0 100px;
            }
        }
    }
}
