@import '../../common/styles/variables.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.founders {
    margin-top: 0;

    .founder {
        font-size: 1.45em;
        color: $green;
        font-family: $conduit-bold;

        a {
            font-family: $conduit-light;
            color: $lighter-grey;

            &:hover,
            &:active {
                text-decoration: none;
                color: $green;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .founders {
        background: url(../images/founders.png);
        background-position: bottom center;
        background-repeat: no-repeat;

        .right-content {
            padding-bottom: 400px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .founders {
        background: url(../images/founders.png);
        background-position: 100% 110%;
        background-repeat: no-repeat;
    }
}
