@import '../../common/styles/variables.scss';

.right-content {
    margin-top: 60px;
    padding-left: 50px;
    padding-bottom: 350px;

    h2, h3 {
        // TODO font-family ConduitITC
        font-size: 1.45em;
        color: $lighter-grey;
        text-transform: uppercase;
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        color: $green;
        font-weight: bold;

        a {
            font-weight: normal;
            color: $lighter-grey;

            &:hover,
            &:active {
                text-decoration: none;
                color: $green;
            }
        }
    }

    p {
        // TODO font-family ConduitITC
        color: $grey;
    }
}
